body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #333533;
    color: #f7ece1;
}

button {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #636669;
    color: #f7ece1;
}

#results {
    display: flex;
    flex-direction: column;
    width: 50vh;
    font-size: 1em;
}

.scores {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
}

#game-text {
    font-size: 1.5em;
    align-self: center;
}

#wrapper {
    display: flex;
    width: 50vh;
    justify-content: space-evenly;
}

#wrapper button {
    font-size: 1.2em;
    width: 100px;
    height: 45px;
}

.gameover-container {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal {
    background-color: #333533;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 30px 50px;
    max-width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    align-items: center;
}

.modal button {
    background-color: #37ff8b;
    color: #333533;
    width: 100px;
    height: 35px;
}