* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #333533;
    color: #f7ece1;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}


button {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #636669;
    color: #f7ece1;
    cursor: pointer;

}

.player-choice {
    box-shadow: inset 0 0 0 0 #37ff8b;
    transition: ease-out 0.2s;
    font-size: 1.2em;
    width: 150px;
    height: 60px;
    font-size: 1.2em;

}

.player-choice:hover{
    box-shadow: inset 150px 0 0 0 #37ff8b;
    color: #333533;
}


#results {
    display: flex;
    flex-direction: column;
    width: 50vh;
    font-size: 1em;
}

.scores {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    margin: 25px;
}

#game-text {
    font-size: 1.5em;
    align-self: center;
    transition: all .3s ease;
    margin: 70px;
    font-size: 2em;
}

#game-text.show {
    transform: scale(1.1);
    border-color: #37ff8b;
}

#wrapper {
    display: flex;
    width: 50vh;
    justify-content: space-evenly;
}

#gameover-container {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#gameover-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #333533;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    padding: 30px 50px;
    max-width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    align-items: center;
    margin: 30px;
    font-size: 35px;
}

.modal button {
    background-color: #37ff8b;
    color: #333533;
    width: 150px;
    height: 50px;
    margin: 40px;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #37ff8b;
    transition: ease-out 0.2s;
}

.modal button:hover {
    box-shadow: inset 150px 0 0 0 #FDFD96;
}